body {
    /*color #F0A15B*/
    background-color: black;
    /*background-image: url("BG2.png");*/
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
    color: #F0A15B;
    margin: 1em;
}

.td {
    text-align: center;
    bottom: 0;
    width: 99%;
    height: 110px;
    padding-top: 25px;
    /*color #F0A15B*/
    background-color: black;
}
.myH1 {
margin-top:43px;
margin-left:5px;
}

.myHr {
background-color:black;

}

.btn-outline-dark {
    margin-top: 43px;
}

.btn-outline-warning:hover {
    background-color: #F0A15B;
}
.btn-outline-warning {
    margin-top: 43px;
    color: #F0A15B;
    border-color: #F0A15B;
}

.btn-outline-dark:hover {
    background-color: black;
    /*color*/
    color: #F0A15B;
}

.container {
    width: 700px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    /*whatever width you want*/
    background-color: black;
    padding: 50px;
    border: 1px solid black;
}

.textbox:focus {
    outline-color: black;
}

.textbox {
    border: none;
    margin-bottom: 5px;
}

.textbox2 {
    border: thick 5px black;
    box-shadow: inset 0 0 1px 1px black;
    margin-bottom: 5px;
}

.homebg {
    background-color: ghostwhite;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
    margin-left:3em;
    margin-right: 3em;
}

