body {
    /*color #F0A15B*/
    background-color: black;
    color: #F0A15B;
}


.btn-outline-dark {
    margin-left: 12px;
    margin-top: 5px;
}

    .btn-outline-dark:hover {
        background-color: black;
        color: #F0A15B;
    }

.container {
    width: 700px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    /*whatever width you want*/
    background-color: white;
    padding: 50px;
    border: 6px solid #F0A15B;
}

.textbox:focus {
    outline-color: black;
}

.textbox {
    /*border: none;*/
    margin-bottom: 5px;
}

.textbox2 {
    border: thick 5px black;
    box-shadow: inset 0 0 1px 1px black;
    margin-bottom: 5px;
}

.homebg {
    background-color:white;
    color: black;

}

    .auto-style1 {
        width: 248px;
    }

    .auto-style2 {
        width: 362px;
    }