body {
    /*color:#F0A15B */
    background-color: black;
    /*background-image: url("BG2.png");*/
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
    color: #F0A15B;
}

.td {
    text-align: center;
    bottom: 0;
    width: 99%;
    height: 90px;
    padding-top: 25px;
    /*color:#F0A15B */
    background-color: black;
}

.myH1 {
    margin-top: 43px;
    margin-left: 5px;
}

.myHr {
    background-color: black;
}

.btn-outline-dark {
    margin-top: 43px;
}



.btn-outline-dark:hover {
    background-color: black;
    color: #F0A15B;
}

.btn-outline-warning {
    margin-top: 43px;
    color: #F0A15B;
    border-color: #F0A15B;
}

.btn-outline-dark:hover {
    background-color: black;
    /*color*/
    color: #F0A15B;
}


.container {
    width: 700px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    /*whatever width you want*/
    background-color: #F0A15B;
    padding: 50px;
    border: 1px solid black;
}

.textbox:focus {
    outline-color: black;
}

.textbox {
    border: none;
    margin-bottom: 5px;
}
.textbox2 {
    border: thick 5px black;
    box-shadow: inset 0 0 1px 1px black;
    margin-bottom: 5px;
}

.homebg {
    background-color: white;
    color: black;
    padding:3em;
    margin: 2em;
}

    .auto-style1 {
        width: 100%;
    }

    .auto-style2 {
        width: 250px;
    }

    .auto-style4 {
        width: 250px;
        height: 23px;
    }

    .auto-style6 {
        height: 23px;
        width: 361px;
    }

    .auto-style7 {
        width: 250px;
        height: 30px;
    }

    .auto-style9 {
        height: 30px;
        width: 361px;
    }

    .auto-style10 {
        width: 449px;
    }

    .auto-style11 {
        width: 449px;
        height: 30px;
    }

    .auto-style12 {
        width: 449px;
        height: 23px;
    }

    .auto-style13 {
        width: 288px;
    }

    .auto-style14 {
        width: 288px;
        height: 30px;
    }

    .auto-style15 {
        width: 288px;
        height: 23px;
    }

    .auto-style16 {
        width: 361px;
    }

    .auto-style17 {
        width: 250px;
        height: 90px;
    }

    .auto-style18 {
        width: 449px;
        height: 90px;
    }

    .auto-style19 {
        width: 288px;
        height: 90px;
    }

    .auto-style20 {
        height: 90px;
        width: 361px;
    }