body {
    /*color: #F0A15B*/
    background-color: black;
    /*background-image: url("BG2.png");*/
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
    color: #F0A15B;
    margin: 2em;
}

.td {
    text-align: center;
    width: 99%;
    height: 110px;
    padding-top: 25px;
    /*color: #F0A15B*/
    background-color: black;
}

.myH1 {
    margin-top: 43px;
    margin-left: 5px;
}

.myHr {
    background-color: black;
}

.btn-outline-dark {
   
}

.btn-outline-warning {
    margin-top: 43px;
    color: #F0A15B;
    border-color: #F0A15B;
}

.btn-outline-dark:hover {
    background-color: black;
    /*color*/
    color: #F0A15B;
}


    .btn-outline-dark:hover {
        background-color: black;
        color: #F0A15B;
    }

.container {
    width: 700px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    /*whatever width you want*/
    background-color: #F0A15B;
    padding: 50px;
    border: 1px solid black;
}

.textbox:focus {
    outline-color: black;
}

.textbox {
    border: none;
    margin-bottom: 5px;
}
.textbox2 {
    border: thick 5px black;
    box-shadow: inset 0 0 1px 1px black;
    margin-bottom: 5px;
}

.homebg {
    background-color: white;
    color: black;
}

    .auto-style1 {
        width: 20%;
        height: 30px;
    }

    .auto-style2 {
        width: 200px;
    }

    .auto-style3 {
        width: 103%;
        height: 210px;
    }

    .auto-style5 {
        width: 151px;
        height: 23px;
    }

    .auto-style6 {
        height: 23px;
        width: 230px;
    }

    .auto-style7 {
        width: 151px;
    }

    .auto-style9 {
        float: left;
        width: 70%;
        height: 340px;
    }

    .auto-style10 {
        width: 230px;
    }

    .auto-style11 {
        background-color: white;
        color: black;
        padding-left: 3em;
        margin-left: 2em;
        margin-right: 2em;
        width: 68px;
    }

    .auto-style12 {
        width: 1508px;
        height: 383px;
    }

    .auto-style13 {
        width: 25%;
        float: left;
    }

    .auto-style14 {
        width: 445px;
    }

    .auto-style15 {
        width: 1054px;
    }

